/* * {
    box-sizing: border-box;
} */

nav {
    background-color: lightgrey;
    width: 90%;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    width: 100%;
}

.nav { 
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    font-size: 1.3em;
}

#search {
    margin: 1.5% 0% 1.5% 50%;
}

li > input {
    height: 100%;
}

li > button {
    height: 125%;
    border: 1px solid green;
    margin-left: 5px;
}





